@mixin font($fontname, $filename, $fontweight, $fontstyle) {
  @font-face {
    font-family: $fontname;
    src: url(#{'../fonts/'+$filename+'.woff'}) format("woff");
    font-weight: $fontweight;
    font-style: $fontstyle;
    font-display: swap;
  }
}


// AvenirNext
// @include font('AvenirNext', 'AvenirNext', 400, normal);
