$dirr: '../';

//Static
$font-weight: 400;
$font-size: 14px;
$line-height: 1;
$font-family: 'WOG', sans-serif;
//

$white: 				#ffffff;
$black:					#000;
$pink:                  #F13C6E;
$gray:                  #EFEFEF;

$title-text-color:      #000000;
$link-text-color:       #000000;
$main-text-color:       #ffffff;
$info-text-color:       #333333;

$input-text-color:      #C4C4C4;


$laptop-l-width: 1440px;
$small-laptop-widht: 1024px;
$tablet-widht: 768px;
$mobile-l-widht: 425px;
$mobile-s-widht: 320px;

