.footer {
    background: $white;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 37px 0;
    }

    &__location-text {
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: 16px;
    }

    &__social-links {
        display: flex;
        align-items: center;
    }

    &__social-link {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}   