.info-blocks {
    background: $gray;

    &__wrapper {
        display: flex;
        justify-content: center;

        padding-bottom: 100px;

         
    @include response($small-laptop-widht) {
       flex-direction: column;   
    }
  
    }

    &__item {
        &:not(:last-child){
            margin-right: 30px;
        }

        @include response($laptop-l-width) {
            &:not(:last-child){
                margin-right: 0px;
            }

          
        }    
    }
}