$product-card-image-width: 125px;
$product-card-image-height: 165px;


.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    text-align: center;
    padding: 20px 30px;

    background: $white;

    @include response($small-laptop-widht) {
     width: 40%;   
    }


    &__img{
        width: $product-card-image-width;
        height: $product-card-image-height;
        object-fit: contain;
    }

    &__title{
        font-size: $font-size;
        line-height: 20px;
        color: $info-text-color;
    }

    &__price{
        color: $title-text-color;
        font-size: 21px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.05em;
    }

    &__buy-button{
        background: $pink;
        color: $main-text-color;
        border: none;

    }

    &__img,
    &__title,
    &__price {
        margin-bottom: 20px;
        
    }
}